{% extends "base.html" %}

{% block main %}

<div id="profile-body" class="jumbotron">
    <div id="bio-top">
        <img id="profile-pic" class="img-fluid mx-auto d-block rounded-circle" src="{{ url_for('static',filename='profile-1.jpg') }}" alt="My Profile Pic">
        <div id="profile-text">
            <h3 id="username">Thee_Anonymous One </h3>
            <h5>@no_name</h5>
            <h5><center>Bridgeport P.O, Jamaica W.I </center></h5>
            <h5>Joined {{ dateJoined }}</h5>
        </div>
    </div>
    <div id="bio-bottom">
        <p id="bio-text" class="text-justify"><center><bold>Hey I love to play basektball :) . 
        </bold> </center></p>
        <div id="stats" class="container-fluid">
            <div class="row">                
                <div class="col-sm text-center"><h5 class="stats-top">1k </h5><p>Posts</p></div>
                <div class="col-sm text-center"><h5 class="stats-top"> 1K</h5><p>Following</p></div>
                <div class="col-sm text-center"><h5 class="stats-top">800</h5><p>Followers</p></div>
            </div> 
        </div>
        <div>
            <button class="btn mx-auto d-block" id="follow-btn">Follow</button>
        </div>
    </div>
</div>

{% endblock %}